.deleteBtn {
  margin-left: 20px;
  background-color: brown;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  font-size: 16px;
  padding: 4px;
  transition: all 500ms ease-in-out;
  &:hover {
    transform: scale(1.2);
  }
}
